*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
} 

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Вся страница */
.page {
  display: flex;
  justify-content: center;
  align-items: end;
  gap: 30px;
  height: 800px;
}

.content {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 133px 30px 133px 30px;
  gap:30px
}

.result {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.result__video-container {
  position: relative;
  margin-bottom: 16px;
  width: 711px;
  height: 386px;
}

.result__video {
  width: 100%;
  height: 100%;
}

.search-form {
  display: flex;
  justify-content: space-between;
}

.search-form__fieldset {
  border: 0;
  align-self: center;
}

.search-form__fieldset-title {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.search-form__label {
  width: fit-content;
}

.search-form__label-text {
}

.search-form__textfield {
  background-color: transparent;
  appearance: none;
  border: none;
  min-width: 225px;
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.70);
  border-bottom: 1px solid #fff;
  margin-top: 8px;
  border-top: 1px solid #fff;
}

.search-form__checkbox-list{
  display: flex;
  gap:15px;
}

.search-form__checkbox{
  
}

.search-form__pseudo-checkbox {
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
}

.button {
  cursor: pointer;
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
  text-align: center;
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.search-form__submit-button {
  min-width: 194px;
  height: 34px;
  align-self: end;

}

.content__details {
  display: grid;
  align-items: end;
  width: 100%;
  height: 100%;
}

.title {
  font-family: Oswald;
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__list {
  display: flex;
  position: relative;
  max-height: 298px;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: hidden;
}

.content__list-item {
  padding-top: 20px;
}

.content__list-item:first-child {
  padding-top: 0;
}

.content__card-link {
  color: #fff;
  text-decoration: none;
}

.preloader-template {
}

.content__video-card {
  display: grid;
  grid-template-columns: 200px 194px;
  align-items: start;
}

.content__video-card-description-container {
  text-overflow: ellipsis;
}

.content__video-card-title {
  font-family: Oswald;
  font-size: 30px;
  font-weight: 700;
  line-height: 100%; 
  text-transform: uppercase;
  text-overflow: ellipsis;
}

.content__video-card-description {
  margin-top: 6px;
}

.content__video-card-thumbnail {
  height: 103px;
}

.more-button {
  min-width: 100%;
  height: 34px;
}